/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    font-size: 14px;
    font-family: HelveticaNeue;
    margin: 0 auto;
    width: 1000px;
}